# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ####PHPSTORM FILE######
/.idea/dictionaries/*
/.idea/shelf/*
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/dataSources.local.xml
/.idea/dataSources/*
/.idea/modules.xml
/.idea/rocketspark-cms 2.iml
/.idea/aws.xml
/.idea/codestream.xml
